@import '~bootstrap/scss/bootstrap';

.container {
  margin-top: 20px;
}

.navbar {
  background-color:#fffacd;
}

.navbar li {
  margin: 0px 10px;
}

textarea {
  width: 200px;
}

.actions {
  margin-top: 10px;
}