@import '~bootstrap/scss/bootstrap';

#notice {
  text-align: center;
  background-color: #dbffff;
  font-weight: bold;
}

#alert {
  text-align: center;
  background-color: #ffc6c6;
  color: #ff0000;
  font-weight: bold;
}

.container {
  margin-top: 20px;
}

.navbar {
  background-color:#fffacd;
}

.navbar li {
  margin: 0px 10px;
}

textarea {
  width: 200px;
}

.actions {
  margin-top: 10px;
}